// ACHTUNG!!!
// @import "./global.scss"; DENKEN. verlinkung anpassen bitte!
@import "./variable.scss";

// Font-Family's
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

// Global
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}