.ProductItems {
	* {
		color: black;
		margin-left: 2%;
		margin-right: 2%;
	}
	.heartIcon {
		width: 25px;
		padding: 7px 0 0 7px;
	}
	a {
		text-decoration: none;
	}

	div {
		text-align: center;
	}

	.itemImages {
		width: 17vw;
		height: 13vh;
	}
	.star {
		height: 1.8vh;
		margin-left: 15vw;
	}
	p {
	}
	.flex {
		display: flex;
		justify-content: space-around;
	}
}

