.ProductItems {
	* {
		color: black;
		margin-left: 2%;
		margin-right: 2%;
	}
	.heartIcon {
		width: 3.5rem;
		padding: 7px;
	}

	div {
		text-align: center;
	}

	.itemImages {
		height: 10rem;
		max-width: 100%;
	}
	.star {
		height: 1.5rem;
		margin-left: 50px;
	}
	p {
	}
	.flex {
		display: flex;
		justify-content: space-around;
	}
}

