@import "../../global.scss";

@keyframes color-change-2x {
    0% {
        background: $gc-1;
    }

    50% {
        background: $gc-1;
    }

    65% {
        background: $gc-1;
    }

    100% {
        background: $gc-2;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    19% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    27% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    36% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    47% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    51% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(20);
        transform: scale(20);
        -webkit-filter: blur(4px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
}



@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    10% {
        opacity: 0.6;
    }

    30% {
        opacity: 1;
    }

    51% {
        -webkit-filter: blur(0);
        filter: blur(0.01);
    }

    100% {
        -webkit-filter: blur(12px) opacity(0%);
        filter: blur(12px) opacity(0%);
    }
}


.landingPage {
    height: 100vh;
    background: $gc-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: color-change-2x;
    animation-duration: 3200ms;

    img {
        width: 15rem;
        margin-bottom: 1rem;
        animation: bounce-in-top;
        animation-duration: 3000ms;
    }

    h1 {
        font-family: $ff-roboto;
        font-size: $fz-large-2;
        color: $gc-2;
        animation: tracking-in-expand;
        animation-duration: 3000ms;
    }
}