&:active {
    background-color: #DEFFE4;
    filter: brightness(100%) invert(1);
    transform: scale(0.98);
    box-shadow: 0 0 5px transparent, 0 0 10px transparent, 0 0 20px transparent, 0 0 30px transparent;
    border-radius: 999vw;
    width: 2.5vw;
    height: 4vh;
}

&:active {
    background-color: #DEFFE4;
    filter: brightness(100%) invert(1);
    transform: scale(0.98);
    box-shadow: 0 0 5px transparent, 0 0 10px transparent, 0 0 20px transparent, 0 0 30px transparent;
    border-radius: 999vw;
    width: 2.5vw;
    height: 4vh;
}