@import "../../global.scss";

.CategoryBarImage {
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $ff-roboto;
		font-size: $fz-small-4;
		color: $fc-3;
		text-decoration: none;

		img {
			width: 9rem;
			border-radius: 50%;
		}

		div {
			width: 7rem;
			height: 1rem;
			margin: 0.5rem 0;
			background-color: #D9DADE;
			border-radius: 50%;
		}
	}
}